.bookmark {
  position: fixed;
  top: 0;
  left: 30px;
  width: 0px;
  height: 145px;
  border: 60px solid transparent;
  border-bottom: 30px solid var(--color-bg);
  background-color: var(--color-accent);

  @media (max-width: 992px) {
    height: 145px;
    border: 24px solid transparent;
    border-bottom: 12px solid var(--color-bg);
    left: 80%;
  }
}

.bookmark:hover {
  height: 600px;
  transition: height 0.2s;

  @media (max-width: 992px) {
    height: 145px;
  }
}

.credits {
  opacity: 0;
  transition: opacity 0.3s ease;

  @media (max-width: 992px) {
    opacity: 1;
  }
}

.bookmark:hover .credits {
  opacity: 1;
}

.bookmark:not(:hover) {
  transition: height 0.2s;
}

.credits {
  font-size: 14px;
  width: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -50px;

  @media (max-width: 992px) {
    bottom: 16px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
