.bookmark {
  position: fixed;
  top: 0;
  left: 30px;
  width: 0px;
  height: 200px;
  border: 60px solid transparent;
  border-bottom: 30px solid white;
  background-color: var(--muted-olive-light);
}

.bookmark:hover {
  height: 600px;
  transition: height 0.2s;
}

.credits {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bookmark:hover .credits {
  opacity: 1;
}

.bookmark:not(:hover) {
  transition: height 0.2s;
}

.credits {
  font-size: 14px;
  width: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -50px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
