.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* font-family: var(--font-geist-sans); */
  /* background-image: url("/books.png"); */
  background-size: contain;
}

.about {
  position: fixed;
  top: 0;
  left: 30px;
  width: 0px;
  height: 200px;
  border: 60px solid transparent;
  border-bottom: 30px solid white;
  background-color: #a8c686;
}

.main {
  background: var(--background-transparent);
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 60px;
  gap: 2rem;

  h1 {
    align-self: center;
    color: var(--color-primary);
    font-size: 50px;
  }
}

.form {
  width: 100%;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  button {
    /* background-color: var(--color-secondary);
    border-radius: 4px;
    border: none;
    padding: 0.5rem;
    min-width: 100px;
    transition: background 0.2s;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px #0000001f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: Inter; */
  }
  /* 
  button:hover {
    cursor: pointer;
    background: #6f6f6f;
  }

  button:disabled {
    background: #e0e0e0;
    color: #9e9e9e;
    cursor: not-allowed;
  } */
}

/* reset */

.checkboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* box-shadow: 0 2px 10px var(--black-a7); */
}
.CheckboxRoot:hover {
  /* background-color: var(--violet-3); */
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  /* color: var(--violet-11); */
}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */
